<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text utils</title>
</head>
<body>
  <h1>Welcome to the text analyser.Enter the text below</h1> 
  <form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width:721px; height:93px;'></textarea>
  </br>
    <input type="checkbox" name="removepunc">Remove punctuation<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="spaceremover">Remove space<br>
    <button type="Submit">Analyse Text</button>
  </form>
</body>
</html>